@model DoAnCoSo.ViewModels.ChangePassword

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="changePassword">

    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()


    <div class="changePass_Form">
        <p>Thay đổi mật khẩu</p>


        <div class="errorChangeEmail">
            @Html.ValidationMessageFor(m => m.email, "")
        </div>
        <div class="changeEmail">
            @Html.LabelFor(m => m.email,"Tài khoản")

            @Html.TextBoxFor(m => m.email, new { placeholder = "Email" })
        </div>



        <div class="errorChangePassword">
            @Html.ValidationMessageFor(m => m.password, "")
        </div>
        <div class="change_Password">
            @Html.LabelFor(m => m.password, "Mật khẩu")
            @Html.PasswordFor(m => m.password, new { placeholder = "Mật khẩu" })
        </div>
        <div class="errorNewConfirmPassword">
            @Html.ValidationMessageFor(m => m.newPassword, "")
        </div>
        <div class="change_NewconfirmPassword">
            @Html.LabelFor(m => m.newPassword, "Mật khẩu mới")
            @Html.PasswordFor(m => m.newPassword, new { placeholder = "Mật khẩu mới" })
        </div>


        <div class="errorChangeConfirmPassword">
            @Html.ValidationMessageFor(m => m.confirmPassword, "")
        </div>
        <div class="change_ConfirmPassword">
            @Html.LabelFor(m => m.confirmPassword ,"Xác nhận mật khẩu")
            @Html.PasswordFor(m => m.confirmPassword, new { placeholder = "Xác nhận mật khẩu" })
        </div>






        @*<div class="register_errorConfirmpassword">
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "")
        </div>
        <div class="register_Confirmpassword">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword)
        </div>*@
        <input type="submit" class="change_submit" value="Save" />
    </div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    }
    </div>



