@model DoAnCoSo.ViewModels.RegisterModel
@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="register">



    @using (Html.BeginForm("DangKy", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()


        <div class="register_form">
            <p>Đăng ký</p>

            <div class="register_errorFullName">
                @Html.ValidationMessageFor(m => m.fullname)
            </div>
            <div class="register_fullname">

                @Html.TextBoxFor(m => m.fullname, new { placeholder = "Tên người dùng" })
            </div>



            <div class="register_errorPhone">
                @Html.ValidationMessageFor(m => m.phone_number)
            </div>
            <div class="register_phone">

                @Html.TextBoxFor(m => m.phone_number, new { placeholder = "Số điên thoại" })
            </div>



            <div class="register_errorEmail">
                @ViewBag.error
                @Html.ValidationMessageFor(m => m.email)
            </div>
            <div class="register_email">

                @Html.TextBoxFor(m => m.email, new { placeholder = "Email" })
            </div>



            <div class="register_errorPassword">
                @Html.ValidationMessageFor(m => m.password)
            </div>
            <div class="register_password">

                @Html.PasswordFor(m => m.password, new { placeholder = "Mật khẩu" })
            </div>




            <div class="register_errorConfirmPassword">
                @Html.ValidationMessageFor(m => m.confirmPassword)
            </div>
            <div class="register_confirmPassword">

                @Html.PasswordFor(m => m.confirmPassword, new { placeholder = "Xác nhận mật khẩu" })
            </div>




            @*<div class="register_errorConfirmpassword">
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "")
                </div>
                <div class="register_Confirmpassword">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </div>*@
            <input type="submit" class="register_submit" value="Đăng ký" />
        </div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }


    }


</div>