@model PagedList.IPagedList<DoAnCoSo.Models.Orders>
@using PagedList.Mvc

@{
    ViewBag.Title = "CheckOrder_User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="order">

    <div class="product_search">
        @using (Html.BeginForm("CheckOrder_User", "Shop", FormMethod.Get))
        {
            @Html.TextBox("searchString")
            <input type="submit" value="Search" placeholder="Search" />
        }
    </div>

    <table class="table">
        <tr>
            <th>
                <p>Mã hoá đơn</p>
            </th>
            <th>
                <p>Tên người đặt</p>
            </th>
            <th>
                <p>Ngày đặt</p>
            </th>
            <th>
                <p>Thanh toán</p>
            </th>
            <th>
                <p>Hoàn thành</p>
            </th>
            <th>
                <p>Tổng tiền</p>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.id
                </td>
                <td>
                    @item.fullname
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.order_date)
                </td>
                <td>
                    @item.isPaid
                </td>
                <td>
                    @item.isComplete
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.total_money)
                </td>

            </tr>
        }

    </table>
</div>

@Html.PagedListPager(Model, page => Url.Action("CheckOrder_User", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
